    .courses {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        .courses_title {
            width: 100%;
            height: 400px;
            background-color: $primary-color;

            h2 {
                font-size: $font-size-large * 2;
                font-weight: $font-weight-heavy;
                color: $white;
                text-align: center;
                margin-top: 60px;
            }
        }

        .courses_cards {
            display: flex;
            justify-content: center;
            column-gap: 50px;
            transform: translateY(-100px);
            width: 90%;

            .courses_card {
                width: 336px;
                min-width: auto;
                height: 460px;
                transition: transform 0.4s ease-in-out;

                .card_image {
                    width: 336px;
                    height: 221px;
                    max-width: 100%;
                    max-height: 100%;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .card_content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    row-gap: 20px;
                    transform: translateY(-20px);

                    .card_price {
                        padding: 10px 15px;
                        background-color: $primary-color;
                        color: $white;
                        font-size: $font-size-medium + 2;
                        font-weight: $font-weight-light;
                        width: 60px;
                        height: 45px;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        align-self: flex-end;
                        text-align: center;
                    }

                    .card_time {
                        display: flex;
                        font-size: $font-size-small + 2;
                        font-weight: $font-weight-light;
                        color: $gray-bold;
                        column-gap: 10px;
                        text-transform: capitalize;
                        padding-left: 20px;
                    }

                    a {
                        font-size: $font-size-medium + 2;
                        font-weight: $font-weight-medium;
                        color: $primary-color;
                        text-decoration: none;
                        padding-left: 20px;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            color: $secondary-color-two;
                        }
                    }

                    span {
                        width: 80%;
                        font-size: 17px;
                        font-weight: 300;
                        color: $gray-bold;
                        padding-left: 20px;
                    }

                    .card_footer {
                        display: flex;
                        width: 100%;
                        box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.5);

                        .card_footer-left {
                            display: flex;
                            column-gap: 5px;
                            width: 70%;
                            font-size: $font-size-small + 2;
                            font-weight: $font-weight-light;
                            color: $gray-bold;
                            border: 1px solid $border-gray;
                            padding: 16px 24px;
                        }

                        .card_footer-right {
                            width: 30%;
                            display: flex;
                            justify-content: flex-start;
                            column-gap: 5px;
                            font-size: $font-size-small + 2;
                            font-weight: 300;
                            color: $gray-bold;
                            border: 1px solid $gray-bold;
                            padding: 16px 24px;
                            border: 1px solid $border-gray;
                        }
                    }
                }

                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
                }
            }
        }

        .courses_buttons {
            max-width: 664px;
            height: 55px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;

            button {
                font-size: $font-size-small;
                color: $white;
                background-color: $primary-color;
                padding: 14px 30px;
                border-radius: 3px;
                font-weight: $font-weight-heavy;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: $secondary-color-two;
                }
            }
        }
    }